body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 120px 0px;
}
nav ul {
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-list li a {
    text-decoration: none;
    color: #3A3A3A;
}
